fayt_wrapper {
  display: none;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;

  opacity: 0;

  outline: none;

  text-align: right;
  font-family: -apple-system;
  font-size: 12px;

  transition: opacity 0.25s linear;
}

fayt_content {
  display: inline-block;

  margin: 3px;
  margin-left: auto;

  padding: 3px 7px 2px;

  background: rgba(239, 239, 239, 0.75);

  border-radius: 5px;

  outline: none;

  transition: all 0.2s ease-in;
}

fayt_content[color='red'] {
  color: white;
  background: rgba(255, 0, 0, 0.75);
}

fayt_content[color='green'] {
  color: white;
  background: rgba(0, 191, 0, 0.75);
}

fayt_content[color='blue'] {
  color: white;
  background: rgba(10, 145, 255, 0.75);
}

fayt_content[color='gray'] {
  background: rgba(147, 147, 147, 0.75);
}
